<div class="row">
    <!-- First Name -->
    <div class="mb-1 col-sm-3">
        <label for="firstName" class="form-label">First Name: </label>
        <input class="form-control form-control-sm" type="text" id="firstName" name="firstName"
            value={{this.firstName}}>
    </div>

    <!-- Last Name -->
    <div class="mb-1 col-sm-3">
        <label for="lastName" class="form-label">Last Name: </label>
        <input class="form-control form-control-sm" type="text" id="lastName" name="lastName" value={{this.lastName}}>
    </div>

    <!-- Email -->
    <div class="mb-1 col-sm-3">
        <label for="email" class="form-label">Email: </label>
        <input class="form-control form-control-sm" type="email" id="email" name="email" value={{this.email}}>
    </div>
</div>

<div class="row">
    <!-- Phone Number -->
    <div class="mb-1 col-sm-3">
        <label for="phoneNumber" class="form-label">Phone Number: </label>
        <input class="form-control form-control-sm" type="text" id="phoneNumber" name="phoneNumber"
            value={{this.phoneNumber}}>
    </div>

    <!-- Address -->
    <div class="mb-1 col-sm-3">
        <label for="address" class="form-label">Address: </label>
        <input class="form-control form-control-sm" type="text" id="address" name="address" value={{this.address}}>
    </div>

    <!-- Submit Button -->
    <div class="mb-5">
        <button type="submit" class="btn btn-sm btn-outline-secondary">Submit</button>
    </div>
</div>