<div class="row">
    <!-- Order ID -->
    <div class="mb-1 col-sm-3">
        <label class="form-label" for="orderID">Order ID: </label>
        <select class="form-select form-select-sm" name="orderID" id="orderID">
            <option value={{orderDetailInfo.orderID}}>{{orderDetailInfo.orderID}}</option>
            {{#each orders}}
            <option value={{this.orderID}}>{{this.orderID}}</option>
            {{/each}}
        </select>
    </div>

    <!-- Product ID -->
    <div class="mb-1 col-sm-3">
        <label class="form-label" for="productID">Product ID: </label>
        <select class="form-select form-select-sm" name="productID" id="productID">
            <option value={{orderDetailInfo.productID}}>{{orderDetailInfo.productID}}</option>
            {{#each products}}
            <option value={{this.productID}}>{{this.productID}}</option>
            {{/each}}
        </select>
    </div>

    <!-- Quantity -->
    <div class="mb-1 col-sm-3">
        <label class="form-label" for="quantity">Quantity: </label>
        <input class="form-control form-control-sm" type="text" id="quantity" name="quantity"
            value={{orderDetailInfo.quantity}}>
    </div>
</div>

<!-- Submit Button -->
<div class="row">
    <div class="mb-5 col-sm-3">
        <button class="btn btn-sm btn-outline-secondary" type="submit">Submit</button>
    </div>
</div>