<div class="row">
    <!-- Customer ID -->
    <div class="mb-1 col-sm-3">
        <label class="form-label" for="customerID">Customer ID: </label>
        <select class="form-select form-select-sm" name="customerID" id="customerID">
            <option value={{reviewInfo.customerID}}>{{reviewInfo.customerID}}</option>
            {{#each customers}}
            <option value={{this.customerID}}>{{this.customerID}} {{this.firstName}} {{this.lastName}}</option>
            {{/each}}
        </select>
    </div>

    <!-- Product ID -->
    <div class="mb-1 col-sm-3">
        <label class="form-label" for="productID">Product ID: </label>
        <select class="form-select form-select-sm" name="productID" id="productID">
            <option value={{reviewInfo.productID}}>{{reviewInfo.productID}}</option>
            {{#each products}}
            <option value={{this.productID}}>{{this.productID}} {{this.productName}}</option>
            {{/each}}
        </select>
    </div>

    <!-- Rating -->
    <div class="mb-1 col-sm-2">
        <label class="form-label" for="rating">Rating:</label>
        <select class="form-select form-select-sm" name="rating" id="rating" value={{reviewInfo.rating}}>
            <option value={{reviewInfo.rating}}>{{reviewInfo.rating}}</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select>
    </div>
</div>

<!-- Review Text -->
<div class="row">
    <div class="mb-1 col-sm-5">
        <label class="form-label" for="reviewText">Review:</label>
        <textarea class="form-control form-control-sm" name="reviewText" id="reviewText"
            rows="5">{{reviewInfo.reviewText}}</textarea>
    </div>
</div>

<!-- Date Written -->
<div class="row">
    <div class="mb-1 col-sm-3">
        <label class="form-label" for="dateWritten">Date Written:</label>
        <input class="form-control form-control-sm" name="dateWritten" id="dateWritten" type="date"
            value={{reviewInfo.dateWritten}}>
    </div>
</div>

<!-- Submit Button -->
<div class="row">
    <div class="mb-5">
        <button class="btn btn-sm btn-outline-primary" type="submit">Submit</button>
    </div>
</div>