<div class="container-fluid">
    <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Game Store Database UI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="./customers">Customers</a>
                    <a class="nav-item nav-link" href="./products">Products</a>
                    <a class="nav-item nav-link" href="./orders">Orders</a>
                    <a class="nav-item nav-link" href="./reviews">Reviews</a>
                    <a class="nav-item nav-link" href="./orderDetails">Order Details</a>
                </div>
            </div>
        </div>
    </nav>

    <h1 class="text-center">Customers</h1>

    <h3>Add Customer</h3>

    {{!-- Form to add a new customer --}}
    {{!-- Insert the form from the partials folder --}}
    {{!-- Note action attribute is different for each forms --}}
    <form id="addCustomerForm" method="POST" action="/customers/addCustomer">
        {{> customerForm}}
    </form>

    <h3>Search Customer</h3>

    <form method="POST" action="/customers">
        <div class="row">
            <div class="mb-1 col-sm-3">
                <label for="search" class="form-label">First Name: </label>
                <input class="form-control form-control-sm" id="search" type="search" placeholder="Search"
                    name="search">
            </div>
        </div>
        <button type="submit" class="mb-5 btn btn-sm btn-outline-primary">Search</button>
    </form>

    <h3>Existing Customers</h3>

    {{!-- Create a table --}}
    <table id="customersTable" class="table table-striped table-hover table-bordered">

        {{!-- Header section --}}
        <thead>
            {{!-- For just the first row, we print each key of the row object as a header
            cell so we know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the customerID, firstName, lastName, email,
            phoneNumber, address --}}
            {{#each data}}
            <tr>
                <td>{{this.customerID}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phoneNumber}}</td>
                <td>{{this.address}}</td>
                <td><a class="btn btn-sm btn-outline-success"
                        href="/customers/editCustomer/{{this.customerID}}">Update</a></td>
                <td><a class="btn btn-sm btn-outline-danger" href="/customers/{{this.customerID}}">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>