<h1>Customers</h1>

<div>
    <a href="/">Home</a>
</div>

{{!-- Form to add a new customer --}}
<h3>Add Customer</h3>

{{!-- Insert the form from the partials folder --}}
{{!-- Note action attribute is different for each forms --}}
<form id="addCustomerForm" method="POST" action="/customers/addCustomer">
    {{> customerForm}}
</form>

<h3>Existing Customers</h3>

{{!-- Create a table --}}
<table id="customersTable">

    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header
        cell so we know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the customerID, firstName, lastName, email,
        phoneNumber, address --}}
        {{#each data}}
        <tr>
            <td>{{this.customerID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>{{this.address}}</td>
            <td><a href="/customers/editCustomer/{{this.customerID}}">Update</a></td>
            <td><a href="/customers/{{this.customerID}}">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>