<div class="container-fluid">
    <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Game Store Database UI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="./customers">Customers</a>
                    <a class="nav-item nav-link" href="./products">Products</a>
                    <a class="nav-item nav-link" href="./orders">Orders</a>
                    <a class="nav-item nav-link" href="./reviews">Reviews</a>
                    <a class="nav-item nav-link" href="./orderDetails">Order Details</a>
                </div>
            </div>
        </div>
    </nav>
    <h1 class="text-center">Orders</h1>

    <h3>Add Order</h3>

    {{!-- Form to add orders --}}
    <form id="addOrderForm" method="POST" action="/orders/addOrder">
        {{> orderForm}}
    </form>

    <h3>Existing Orders</h3>

    {{!-- Create a table --}}
    <table id="ordersTable" class="table table-striped table-hover table-bordered">
        {{!-- Table header section --}}
        <thead>
            {{!-- First row has the key printed of each object as a header cell. --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>
            {{!-- Print the orderID, customerID, orderDate, pickup --}}
            {{#each data}}
            <tr>
                <td>{{this.orderID}}</td>
                <td>{{this.customerID}}</td>
                <td>{{this.orderDate}}</td>
                <td>{{this.pickup}}</td>
                <td><a class="btn btn-sm btn-outline-secondary" href="/orders/editOrder/{{this.orderID}}">Update</a>
                </td>
                <td><a class="btn btn-sm btn-outline-secondary" href="/orders/{{this.orderID}}">Delete</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>